<header>
	<h1>Skate Spot Finder</h1>
	<ul>
		<!-- <li><%#<%= link_to "Sign in", new_user_session_path %></li> -->
		<!-- <li><%#<%=link_to "Spots", new_spot_session_path %></li> -->
	</ul>
	<div class= "intro">
	<%= image_tag "skateplaza.jpg", :class => "main_logo" %>

	<h2>This Apps purpose is for skaters all around the world to share new designated spots that they found by posting vidoes photos and their reviews regards to the comfort of the spot, smoothness of the street, accesibility, amount of human traffic and last but not the least security.</h2>
	<h3>Rate the spot, how buttery the ground is, aggghh humans, accesibility, park police!</h3>
	<%= image_tag "thespot.png" %>
	<%= image_tag "butter.jpg" %>
	<%= image_tag "human_traffic.jpg" %>
	<%= image_tag "transportation.jpg" %>
	<%= image_tag "security.jpg" %>

	</div>
</header>