<%= form_for @spot do |s| %>
  <% if @spot.errors.any? %>
    <ul class='errors'>
      <% @spot.errors.full_messages.each do |err| %>
        <li class='error'><%= err %></li>
      <% end %>
    </ul>
  <% end %>
  <%= s.label :city %>
  <%= s.text_field :city, :placeholder => "city name" %>
  <br>
  <%= s.label :address %>
  <%= s.text_area :address, :placeholder => "exact address " %>
  <br>
  <%= s.label :description %>
  <%= s.text_area :description, :placeholder => "brief description"  %>

  <%= s.submit %>
<% end %>