<h1>Find a spot</h1>
<%= link_to 'Create a spot', spots_path %>

<ul>
<% @spots.each do |spot| %>
  <p><%= spot.city %></p>
  <p><%= spot.address %></p>
  <p><%= spot.description %></p>
<% end %>
</ul>
 <%= render 'form' %>