<%#<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div>
	<%= link_to 'List of spot', spot_path %>
	<h2>Lets put in the details</h2>
	<h3><%= @spot.city %></h3>
	<h3><%= @spot.address %></h3>
	<h3><%= @spot.description %></h3>
</div>

<%= render :partial => 'posts/post', :object => @post %>

<div class="photos">
	<% @posts.each do |post| %>
	<p><%=image_tag post.img_url, spot_path%></p>
	<% end %>
</div>


