<%#<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div>
	<%= link_to 'List of spot', spot_path %>
	<h2>Lets put in the details</h2>
	<h3><%= @spot.city %></h3>
	<h3><%= @spot.address %></h3>
	<h3><%= @spot.description %></h3>
</div>

<%= render :partial => 'posts/post', :object => @post %>

<h3>Comments/Reviews</h3>
<% @spot.posts.each do |post| %>
<div class="comments">
	<%= post.comments %></div>
<% end %>


<div class="photos">
	<h3>Photos</h3>
	<% @posts.each do |post| %>
	<p><%=image_tag post.img_url%></p>
	<% end %>
</div>


