<%= form_for @spot do |s| %>
  <% if @spot.errors.any? %>
    <ul class='errors'>
      <% @spot.errors.full_messages.each do |err| %>
        <li class='error'><%= err %></li>
      <% end %>
    </ul>
  <% end %>
  <main class="spots">
    <div>
      <%= s.label :city %>
      <%= s.text_field :city, :placeholder => "city name" %>
    </div>

    <div>
      <%= s.label :address %>
      <%= s.text_area :address, :placeholder => "exact address " %>
    </div>

    <div>
      <%= s.label :description %>
      <%= s.text_area :description, :placeholder => "brief description"  %>
    </div>

    <div class= "dropdown_number">
      <%= s.label :spot_quality %>
      <%= s.select :spot_quality,options_for_select(0..5) %>
    </div>

    <div class= "dropdown_number">
      <%= s.label :smoothness %>
      <%= s.select :smoothness,options_for_select(0..5) %>
    </div>

    <div class= "dropdown_number">
      <%= s.label :human_traffic %>
      <%= s.select :human_traffic,options_for_select(0..5) %>
    </div>

    <div class= "dropdown_number">
      <%= s.label :security %>
      <%= s.select :security,options_for_select(0..5) %>
    </div>

    <div>
        <%= s.submit %>
    </div>

  </main>
<% end %>