<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
 <div id="map"></div>

 <button type="button" class="btn btn-default" ><span class="glyphicon glyphicon-home"></span><%=link_to " Home Page", root_path, :style => "text-decoration:none;" %></button>
</div>
<div id="temperature_c">temperature is</div>
<div id="temperature_f">temperature is</div>

<button type="button" class="btn btn-default"><a href="/spots" style='text-decoration:none;'><span class="glyphicon glyphicon-list"></span><b> List of Spots</b>
</a></button>

<div>
	<h2>Lets put in the details</h2>
	<h3><%= @spot.city %></h3>
	<h3><%= @spot.address %></h3>
	<h3><%= @spot.description %></h3><br>
	<h4>spot quality</h4>
	<h5><%= @spot.spot_quality %></h5>
	<h4>smooth as a butter or is it Mordor</h4>
	<h5><%= @spot.smoothness %></h5>
	<h4>lost humans like lost puppies</h4>
	<h5><%= @spot.human_traffic %></h5>
	<h4>POLIZEI?</h4>
	<h5><%= @spot.security %></h5>
</div>

<h1>Ratings</h1>
<%= column_chart [
  ["Spot", @spot.spot_quality],
  ["Smoothness", @spot.smoothness],
  ["Pedestrians", @spot.human_traffic],
  ["secuirty", @spot.security],

]
%>

<%= render :partial => 'posts/post', :object => @post %>

<h3>Comments/Reviews</h3>
<% @spot.posts.each do |post| %>
<div class="comments">
	<%= post.comments %></div>
<% end %>


<div class="photos">
	<h3>Photos</h3>
	<% @posts.each do |post| %>
	<p><%=image_tag post.img_url%></p>
	<% end %>
</div>

<script>
  $(document).ready(function(){
  	initializeMap();
  });
</script>








