<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <title>SkateSpotApp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	 <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	<%= "Welcome #{current_or_guest_user.email}" %>
	<%= link_to"Login", new_user_session_path unless user_signed_in? %>

<%= yield %>


</body>
</html>
