<header>
	<h1>Skate Spot Finder</h1>
	<div id="navcontainer">
	<ul>
		<li><%=link_to "Create a Spot", spots_path %></li>
		<li><%=link_to "List of Spots", spots_path %></li>
		<li><%= link_to "Sign in", new_user_session_path %></li>
		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	</div>
	</ul>
	<div class= "intro">
		<%= image_tag "skateplaza.jpg", :class => "main_logo" %>
	</div>

	<div class= "about">
		<h2>This Apps purpose is for skaters all around the world to share new designated spots that they found by posting vidoes photos and their reviews regards to the comfort of the spot, smoothness of the street, accesibility, amount of human traffic and last but not the least security.</h2>
	</div>
		<div class="icon">
			<%= image_tag "thespot.png" %>
			<p class="spot">Rate the spot</p>
			<%= image_tag "butter.jpg" %>
			<p class="butter">how buttery the ground is</p>
			<%= image_tag "human_traffic.jpg" %>
			<p class="human">aggghh humans</p>
			<%= image_tag "transportation.jpg" %>
			<p class="accesibility">how should we get there</p>
			<%= image_tag "security.jpg" %>
			<p class="security">police or security guard activity</p>
		</div>
</header>